

Data/
Models/
mlruns/
Notebooks/mlruns/
*.pkl
*.csv
*.joblib

# But allow our small model file
!src/xgb_pipeline.joblib
Models/
*.pkl

*.joblib
*.pkl
models/
File_Models/
Notebooks/mlruns/
__pycache__/
