# Include only our model file
!src/xgb_pipeline.joblib

# Ignore large models
*.pkl
*.joblib

# Ignore data folders
Data/
Models/
models/
File_Models/
mlruns/
Notebooks/mlruns/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore CSV except allowed one
*.csv
!india_housing_prices.csv

